@use 'variables' as *;
@use 'mixins' as *;

@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  h2 {
    font-size: 2rem;
  }

  .section-padding {
    padding: 60px 0;
  }

  .hero-content {
    padding: 0 15px;
  }

  .rsvp-form {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .hero-image {
    width: 132%;
    margin: 0;

    .hero-names {
      font-size: 2rem;
    }

    .hero-date {
      font-size: 1rem;
    }
  }

  .info-details-item {
    padding: 15px;

    .info-icon {
      font-size: 1.5rem;
    }
  }
}