// Переменные и миксины
@use 'variables' as *;
@use 'mixins' as *;

// Базовые стили
@use 'base' as *;

// Компоненты
@use 'components/splash-screen' as *;
@use 'components/music-control' as *;
@use 'components/hero' as *;
@use 'components/info' as *;
@use 'components/rsvp' as *;
@use 'components/location' as *;
@use 'components/countdown' as *;
@use 'components/plan-day' as *;
@use 'components/contacts' as *;
@use 'components/transfer' as *;
@use 'components/dress-code' as *;
@use 'components/hints' as *;
@use 'components/side-menu' as *;

// Медиа-запросы
@use 'media' as *;

@font-face {
  font-family: 'Monotype Corsiva';
  src: url(../fonts/MonotypeCorsivaRegular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.form {
  &-error {
    color: #f44;
    margin-top: 5px;
    display: none;
  }

  &-group {
    &.error {
      .form-error {
        display: block;
      }

      input,
      textarea {
        border-color: #f44;
      }
    }
  }
}