@import 'navbar.sass'
@import 'promo.sass'
@import 'about.sass'
@import 'calendar.sass'
@import 'photogallery.sass'
@import 'squad.sass'
@import 'button.sass'

*
	font-family: Roboto
a
	text-decoration: none
	color: inherit

h2
	text-align: center
	text-transform: uppercase

body
	background-color: black

.sub_label
	display: flex

section
	color: white

.calendar_btn
	text-align: center

.chart
	background-color: white
	color: black

.btn
	background-color: orange
	border-radius: 10px
	padding: 10px 20px
	&:hover
		transition: 1s
		background-color: green

.label
	text-align: center
	tex

.name_person
	text-align: center
	background-color: red
.desc
	background-color: red
	margin-bottom: 10px

.site
	background-color: green
footer
	background-color: white
