@import 'navbar.sass'
@import 'promo.sass'
*
	font-family: Roboto
a
	text-decoration: none
	color: inherit
body
	background-color: black



.sub_label
	display: flex


	

section
	color: white

.calendar_btn
	text-align: center

.chart
	background-color: white
	color: black

.btn
	background-color: orange
	border-radius: 10px
	padding: 10px 20px
	&:hover
		transition: 1s
		background-color: green

.label
	text-align: center

.name_person
	text-align: center
	background-color: red
.desc
	background-color: red
	margin-bottom: 10px

.site
	background-color: green
footer
	background-color: white
.squad
	&_person1
		background: url("../img/squad/TandV.jpg") center center / cover no-repeat
		height: 450px
		margin-bottom: 20px
	&_person2
		background: url("../img/squad/Alexey.jpg") center center / cover no-repeat
		height: 450px
		margin-bottom: 20px
	&_person3
		background: url("../img/squad/Ilya.jpg") center center / cover no-repeat
		height: 450px
		margin-bottom: 20px
	&_person4
		background: url("../img/squad/July.jpg") center center / cover no-repeat
		height: 450px
		margin-bottom: 20px
	&_person5
		background: url("../img/squad/July1.jpg") center center / cover no-repeat
		height: 450px
		margin-bottom: 20px
	&_person6
		background: url("../img/squad/Kristina.jpg") center center / cover no-repeat
		height: 450px
		margin-bottom: 20px
	&_person7
		background: url("../img/squad/Valera.jpg") center center / cover no-repeat
		height: 450px
		margin-bottom: 20px
	&_person8
		background: url("../img/squad/Vitaly.jpg") center center / cover no-repeat
		height: 450px
		margin-bottom: 20px