@use 'variables' as *;
@use 'mixins' as *;
@use 'victorian' as *;

@use 'base' as *;

@use 'components/splash-screen' as *;
@use 'components/music-control' as *;
@use 'components/hero' as *;
@use 'components/info' as *;
@use 'components/rsvp' as *;
@use 'components/location' as *;
@use 'components/countdown' as *;
@use 'components/plan-day' as *;
@use 'components/contacts' as *;
@use 'components/transfer' as *;
@use 'components/dress-code' as *;
@use 'components/hints' as *;
@use 'components/side-menu' as *;

@use 'media' as *;

.form {
  &-error {
    color: #d47373;
    margin-top: 5px;
    display: none;
  }

  &-group {
    &.error {
      .form-error {
        display: block;
      }

      input,
      textarea,
      select {
        box-shadow: 0 0 0 2px rgba(212, 115, 115, 0.4);
      }
    }
  }
}
